

.para {
  display: flex;
  width: 883px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--dark-60, #6a6a6a);
  text-align: center;
  font-size: 18px;
  font-family: Manrope;
  line-height: 30px;
}
