.circle-list {
  list-style-type: none; /* Remove default bullet points */
}

.circle {
  padding: 2%;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: rgb(244, 238, 238);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
}

.tick {
  color: rgb(0, 0, 0);
  font-size: 0.8em;
}

.container {
  position: relative;
  width: 473px;
  height: 633px;
}

.image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

.overlay-big {
  position: absolute;
  background-color: rgba(108, 145, 193, 0.5);
  width: 78%;
  height: 40%;
  border-top-left-radius: 100%;
  bottom: 97px;
  left: 88px;
}
/* for sm */
.image-container {
  position: relative;
  width: 273px;
  height: 333px;
}

.image-sm {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  background-color: rgba(108, 145, 193, 0.5);
  width: 80%;
  height: 60%;
  border-top-left-radius: 100%;
  bottom: -33px;
  left: 55px;
}
