.circle-list {
  list-style-type: none; /* Remove default bullet points */
}

.circle {
  padding: 2%;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: rgb(244, 238, 238);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
}

.tick {
  color: rgb(0, 0, 0);
  font-size: 0.8em;
}

.container {
  position: relative;
  display: inline-block;
  /* margin-left: 170px; */
}

.image {
  display: inline-block;
  width: 473px;
  height: 633px;
  flex-shrink: 0;
}

.overlay-image {
  position: absolute;
  width: 376px;
  bottom: 7px;
  right: 160px;
  z-index: -1;
}

.image-container {
  position: relative;
  width: 273px;
  height: 333px;
}

.image-sm {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  background-color: rgba(108, 145, 193, 0.5); /* Replace with your desired overlay color */
  width: 80%;
  height: 60%;
  border-top-left-radius: 100%;
  bottom: -33px;
  left: 55px;
}