.fifth{
  border-radius: 96px;
}
.person {
  /* margin-right: 135px; */
  width: 374px;
  height: 490px;
  flex-shrink: 0;
  border-radius: 24px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.fs {
  width: 700px;
  height: 300px;
}
.fs-sm {
  width: 300px;
  height: 150px;
}
.quote-sm{
  width: 40px;
}